{% extends "base.html" %}
{% block title %}Новая запись{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            {% if post %}
                <div class="card-header">Редактировать пост</div>

            {% else %}
                <div class="card-header">Добавить пост</div>
            {% endif %}
                <div class="card-body">

                     <form method="post">
                         {% csrf_token %}

                         {% if forms.errors %}
                         <div class = "alert alert-danger" role="alert">
                             {{ form.errors}}
                         </div>
                         {% endif %}
                         {% for field in form %}
                        <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                                <div class="col-md-6">
                                    {{ field|addclass:"form-control" }}
                                    {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                        </div>
                    {% endfor %}
                         {% if post %}
                            <input type="submit" value="Сохранить">
                         {% else %}
                            <input type="submit" value="Запостить">
                         {% endif %}
                          </form>
                </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endblock %}